@import url("https://fonts.googleapis.com/css?family=Noticia+Text:400,400i,700,700i");
/* Single property */
html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(0.57361vw + 12.16444px);
  }
}

@media screen and (min-width: 1366px) {
  html {
    font-size: 20px;
  }
}

/* Multiple properties with same values */
h1, h2, h3, h4, h5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

@media screen and (min-width: 20rem) {
  h1, h2, h3, h4, h5 {
    padding-top: calc(1vw - 0.2rem);
    padding-bottom: calc(1vw - 0.2rem);
  }
}

@media screen and (min-width: 70rem) {
  h1, h2, h3, h4, h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

html {
  margin: 0;
  width: 100vw !important;
  overflow-x: hidden;
  padding: 0;
  font-family: sans-serif;
  background: #f8d9b0;
}

body {
  width: 100vw !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f8d9b0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: rgba(44, 17, 8, 0.001);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
}

.navbar-inverse {
  background: rgba(10, 10, 10, 0.801);
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 26px;
  float: left;
  font-family: "Pacifico" , sans-serif;
}

header .logo a {
  text-decoration: none;
  color: white;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-family: "Noticia Text", serif;
  letter-spacing: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li a:hover {
  color: #d40c0c;
  background: #f8d9b0;
  text-decoration: none;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

header nav ul li a.active2 {
  color: #f3dcdc;
  background: #f74437;
  -webkit-transition: .5s;
  transition: .5s;
}

header nav ul li a.active2:hover {
  background: #8fe42d;
  color: #0c0b09;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    top: 50px;
    left: -100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .heading {
    font-size: 1em;
    margin: 50px 50px;
    overflow: hidden;
    padding: 20px 20px;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}

@media (max-width: 1200px) {
  .logo {
    display: none;
  }
}

section#home {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(https://images.pexels.com/photos/796609/pexels-photo-796609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 20px 30px #0c0b0977;
          box-shadow: 0 20px 30px #0c0b0977;
}

section#home .heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  max-width: 75vw;
  max-height: 70vh;
  -webkit-box-shadow: 15px 25px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 15px 25px 50px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  border: 2px solid white;
  background: rgba(5, 5, 5, 0.5);
}

section#home .heading h1 {
  color: #fff;
  font-family: "Pacifico" , sans-serif;
  font-size: 3em;
  max-width: 100%;
  max-height: 100%;
  text-shadow: 5px 5px 10px #131212;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-bottom: 0;
}

section#home .heading p {
  color: #f3dcdc;
  font-family: "Noticia Text", serif;
  font-size: 1.2rem;
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  text-align: justify;
  padding: 20px;
  font-style: italic;
}

section#home .heading hr {
  border: 0;
  height: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(252, 250, 250, 0)), color-stop(rgba(248, 245, 245, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(252, 250, 250, 0), rgba(248, 245, 245, 0.75), rgba(0, 0, 0, 0));
}

ul.social {
  position: absolute;
  bottom: -150px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(248, 246, 245, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid white;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  overflow: hidden;
}

ul.social li {
  list-style: none;
}

ul.social li a {
  position: relative;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
  background: linear-gradient(0deg, #ddd, #fff);
  -webkit-transition: .5s;
  transition: .5s;
  color: transparent;
}

ul.social li a:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

ul.social li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#ddd));
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 26px;
  color: #262626;
  -webkit-transition: .5s;
  transition: .5s;
}

ul.social li:nth-child(1) a:hover .fab {
  color: #3b5999;
}

ul.social li:nth-child(2) a:hover .fab {
  color: #55acee;
}

ul.social li:nth-child(3) a:hover .fab {
  color: #0077B5;
}

ul.social li:nth-child(4) a:hover .fab {
  color: #e4405f;
}

ul.social li:nth-child(5) a:hover .fab {
  color: #dd4b39;
}

section#intro {
  width: 100%;
  height: auto;
  position: relative;
  background: #f8d9b0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

section#intro .intro_title h1 {
  font-size: 4em;
  color: #363636;
  text-align: center;
  font-family: "Noticia Text", serif;
  text-shadow: 5px 10px 15px rgba(19, 18, 18, 0.452);
}

section#intro .intro_content {
  max-width: 100%;
  height: auto;
  font-size: 1em;
  font-family: "Noticia Text", serif;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0;
}

section#intro .intro_content .paljoc {
  top: 0;
  height: 400px;
  width: 400px;
  float: left;
  padding: 0;
  margin: 20px;
  clip-path: circle();
  -webkit-clip-path: circle();
  shape-outside: circle();
  -webkit-shape-outside: circle();
}

section#intro .intro_content .paljoc img {
  margin-left: -70px;
}

section#intro .intro_content p {
  text-align: justify;
  max-width: 100%;
  height: auto;
  position: relative;
}

@media (max-width: 700px) {
  .paljoc {
    display: none;
  }
}

.blend_bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 400px;
  background: url(https://images.pexels.com/photos/302898/pexels-photo-302898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
  border: 10px solid white;
}

.blend_bg h1 {
  padding: 20px 20px 50px 20px;
  text-align: center;
  font-size: 5em;
  font-family: "Pacifico";
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  letter-spacing: 10px;
  background: #3d93da;
  -webkit-box-shadow: 3px 10px 20px rgba(10, 10, 10, 0.842);
          box-shadow: 3px 10px 20px rgba(10, 10, 10, 0.842);
  margin: 0;
  width: 500px;
  height: 150px;
  color: black;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.blend_gallery {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
  justify-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

.container .card {
  position: relative;
  background: #000;
  overflow: hidden;
  border: 5px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 3px 10px 20px rgba(10, 10, 10, 0.842);
          box-shadow: 3px 10px 20px rgba(10, 10, 10, 0.842);
  -webkit-transition: .7s;
  transition: .7s;
  min-width: 420px;
  min-height: 328px;
}

.container .card .content h2 {
  font-size: 1.1em;
  font-family: "Noticia Text", serif;
  color: #f3dcdc;
  text-align: center;
  background: linear-gradient(132deg, #7db830, #53370d);
  background-size: 400% 400%;
  border-radius: 5px;
  -webkit-animation: gradient 10s ease infinite;
          animation: gradient 10s ease infinite;
  border: 2px solid white;
  padding: 5px 0;
}

.container .card .content p {
  font-size: 0.75em;
  font-family: "Noticia Text", serif;
  color: #f3dcdc;
  text-align: justify;
  border: 2px solid white;
  padding: 10px;
  background: rgba(0, 0, 0, 0.438);
}

.container .card .content span {
  background: rgba(248, 246, 246, 0.788);
  border: 2px solid white;
  border-radius: 10px;
  padding: 4px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 800px) {
  .container .card h2 {
    font-size: 1.5em !important;
  }
  .container .card p {
    font-size: 1em !important;
  }
}

.container .card .img-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.container .card .img-box img {
  height: 100%;
  width: 100%;
  -webkit-transition: ease-in-out .5s;
  transition: ease-in-out .5s;
}

.container .card:hover .img-box {
  opacity: .5;
  overflow: hidden;
}

.container .card:hover .img-box img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -70%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -webkit-transition: .7s;
  transition: .7s;
}

.container .card:hover .content {
  bottom: 1px;
}

.container .card:nth-child(1) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#d37a72), to(transparent));
  background: linear-gradient(0deg, #d37a72, transparent);
}

.container .card:nth-child(2) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#78c9b5), to(transparent));
  background: linear-gradient(0deg, #78c9b5, transparent);
}

.container .card:nth-child(3) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#14dfe6), to(transparent));
  background: linear-gradient(0deg, #14dfe6, transparent);
}

.container .card:nth-child(4) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#77a30f), to(transparent));
  background: linear-gradient(0deg, #77a30f, transparent);
}

.container .card:nth-child(5) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(red), to(transparent));
  background: linear-gradient(0deg, red, transparent);
}

.container .card:nth-child(6) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#af08af), to(transparent));
  background: linear-gradient(0deg, #af08af, transparent);
}

.container .card:nth-child(7) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#14dfe6), to(transparent));
  background: linear-gradient(0deg, #14dfe6, transparent);
}

.container .card:nth-child(8) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(#77a30f), to(transparent));
  background: linear-gradient(0deg, #77a30f, transparent);
}

.container .card:hover {
  -webkit-box-shadow: 6px 20px 40px rgba(10, 10, 10, 0.842);
          box-shadow: 6px 20px 40px rgba(10, 10, 10, 0.842);
}

.so_bg {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(https://images.pexels.com/photos/1459339/pexels-photo-1459339.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
  border: 10px solid white;
}

.so_bg h1 {
  padding: 20px;
  text-align: center;
  font-size: 4em;
  font-family: "Pacifico";
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  letter-spacing: 7px;
  background: #cd3dda;
  -webkit-box-shadow: 3px 10px 20px rgba(10, 10, 10, 0.842);
          box-shadow: 3px 10px 20px rgba(10, 10, 10, 0.842);
  margin: 0;
  width: 600px;
  height: 150px;
  color: black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.7);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.buy_bg {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(https://images.pexels.com/photos/582428/pexels-photo-582428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7);
  border: 10px solid white;
}

.buy_bg h1 {
  padding: 4em 20px 20px 20px;
  text-align: center;
  font-size: 4em;
  font-family: "Noticia Text", serif;
  margin: 0;
  width: 100%;
  height: 100%;
  color: black;
  -webkit-text-fill-color: rgba(250, 248, 248, 0.856);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0a0a0a;
}

#buy {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #242323;
}

#buy .buy_content1 {
  border-right: 2px solid white;
}

.buy {
  padding: 20px 10%;
  text-align: center;
  font-family: "Noticia Text", serif;
  font-size: 1.5em;
  color: #f5f0f0;
}

.form-check {
  margin-left: 38%;
}

.email {
  padding: 20px;
  border-bottom: 0 !important;
  text-align: center;
  margin: 0;
  color: #f5f0f0;
  font-family: "Noticia Text", serif;
  font-size: 2rem;
}

.phone {
  padding: 20px;
  text-align: center;
  margin: 0;
  color: #f5f0f0;
  font-family: "Noticia Text", serif;
  font-size: 2rem;
}

.map {
  width: 100%;
  height: 100%;
}

.kapcsolat {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 20px;
  padding: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kapcsolat ul.social2 {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  overflow: hidden;
}

.kapcsolat ul.social2 li {
  list-style: none;
}

.kapcsolat ul.social2 li a {
  position: relative;
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
  background: linear-gradient(0deg, #ddd, #fff);
  -webkit-transition: .5s;
  transition: .5s;
  color: transparent;
}

.kapcsolat ul.social2 li a:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.kapcsolat ul.social2 li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#ddd));
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 26px;
  color: #262626;
  -webkit-transition: .5s;
  transition: .5s;
}

.kapcsolat ul.social2 li:nth-child(1) a:hover .fab {
  color: #3b5999;
}

.kapcsolat ul.social2 li:nth-child(2) a:hover .fab {
  color: #55acee;
}

.kapcsolat ul.social2 li:nth-child(3) a:hover .fab {
  color: #0077B5;
}

.kapcsolat ul.social2 li:nth-child(4) a:hover .fab {
  color: #e4405f;
}

.kapcsolat ul.social2 li:nth-child(5) a:hover .fab {
  color: #dd4b39;
}

.form {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.form label {
  color: white;
}

.form label a {
  text-decoration: none;
  color: #f5a5a5;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */